.sparrowGraphEditor-container
{
    flex-grow: 1;
}

.sparrowGraphEditor-graphView
{
    flex-grow: 1;
}


.stack-node > #graph-flow-outline 
{
    border-radius: 10px;
    border-width: 2px;
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
}

.graph-flow-outline--inactive
{
    
}

.graph-flow-outline--active
{
    border-color: orange;
}

.graph-flow-outline--complete
{
    border-color: greenyellow;
}