.unity-two-pane-split-view--horizontal {
    flex-grow: 1;
}

.unity-two-pane-split-view__dragline-anchor {
    position: relative;
}

.unity-two-pane-split-view__dragline-anchor--horizontal {
    cursor: resize-horizontal;
}

.unity-two-pane-split-view #left-column {
    min-width: 150px;
    max-width: 80%;
    flex-grow: 0;
}

.unity-two-pane-split-view #right-column {
    flex-grow: 1;
}
